.card {
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 15px;
}
.container {
  border-bottom: 2px;
}

button{
  margin-bottom: 20px;
}

.title-h3 {
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  color: #1b61ff;
}


