<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/docatoteste.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="senha">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="cadastrarUsuario()" href="#" >Cadastrar</a>
    </div>

  </div>
</div>
